* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #f0f5f8;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat","Noto Sans TC";
}

nav {
  background: #002339;
  display: flex;
  float:inline-end;
  justify-content: space-between;
  padding: 25px 40px;
  box-shadow: 0px -5px 10px black;
  color: #000;
  height: 90px;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.cancel-form-button {
  width: 100%;
  background-color: #f2f0ec;
  border-color: #474b41;
  color: #474b41;
  border-radius: 20px;
  margin-bottom: 15px;
  font-family: 'Comic Sans MS'
}
.cancel-form-button:hover {
  background-color: #474b41;
  color: #f2f0ec;
  border-color: #f2f0ec;
}
.cancel-form-button:active {
  background-color: #474b41;
  color: #f2f0ec;
  border-color: #f2f0ec;
  transform: translateY(5px);
}

.login-form-button {
  width: 100%;
  height: 45px;
  background-color: #474b41;
  border-color: #f2f0ec;
  color: #f2f0ec;
  border-radius: 20px;
  margin-bottom: 15px;
  font-family: 'Comic Sans MS'
}

.login-form-button:hover {
  background-color: #f2f0ec;
  color: #474b41;
  border-color: #474b41;
}

.login-form-button:active {
  background-color: #f2f0ec;
  color: #474b41;
  border-color: #474b41;
  transform: translateY(5px);
}

.btn {
  background-color: #936510;
  border-color: #f2f0ec;
  color: #f3f2ee;
  border-radius: 20px;
  margin-bottom: 15px;
}

.btn:hover {
  background-color: #ae7b20;
  border-color: #f2f0ec;
  color: #f3f2ee;
}

.btn:active {
  background-color: #f3f2ee;
  border-color: #f2f0ec;
  color: #ae7b20;
  transform: translateY(5px);
}

.btn1 {
  background-color: #e8e7e3;
  border-color: #f2f0ec;
  color: #a5a29b;
  border-radius: 20px;
  margin-bottom: 15px;
  font-family: 'Comic Sans MS'
}

.btn1:hover {
  background-color: #e0dfdb;
  color: #565047;
  border-color: #f2f0ec;
}

.btn1:active {
  background-color: #e0dfdb;
  color: #565047;
  border-color: #f2f0ec;
  transform: translateY(5px);
}

@import '~antd/dist/antd.css';
.App {
  text-align: center;
  height: 100%;
  margin: 0;
  min-height: 100%;
  margin-bottom: -90px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  font-family: Noto Sans Mono CJK TC;
  /* font-size: 30px; */
  font-weight: bolder;
  color: rgb(132, 132, 132);
  background-color: #ffffff;
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#f2f0ec;
  height: 800px;
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 60px;
  border-color: #887451;
  border-style: dashed;
  border-width: 2px;
  border-radius: 50px;
  font-family: Comic Sans MS;
  color: #af7c20;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:#f2f0ec; */
  height: 650px;
  margin-left: 60px;
  margin-right: 60px;
  /* border-color: #887451; */
  /* border-style: dashed; */
  /* border-width: 2px; */
  /* border-radius: 50px; */
  font-family: Comic Sans MS;
  color: #af7c20;
}

.steps-content {
  height: 350px;
  text-align: center;
}

.steps-action {
  margin-top: 24px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-page-header {
  clear: both;
  border: 1px solid #73d13d;
  background-color: #b7eb8f;
  height: auto;
  font-family: Noto Sans Mono CJK TC;
  font-size: calc(15px + 2vmin);
  font-weight: bolder;
  color: rgb(132, 132, 132);
  padding-left: 25px;
  line-height: 90px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

.header {
  align-items: center;
  justify-content: space-between;
  
}

.background {
  background-color: #FEFFE6;
}

.upload {
  width: 2vw;
  margin-left: 4vw;
  padding-bottom: 10px;
}

.datalist {
  margin: 50px 150px;
  padding: 50px;
  font-size: 36px;
  font-family: Noto Sans Mono CJK TC;
  font-weight: bold;
  color:rgb(132, 132, 132);
  border: 1mm solid rgba(156, 156, 156, 0.6);
  border-radius: 15px;
  height: fit-content;
}

.data {
  clear: both;
  margin: 10px;
  padding: 20px;
  font-size: 25px;
  font-weight: lighter;
  color: #282c34;
  text-align:start;
  align-items: center;
  border-top: 0.5mm solid rgb(255, 255, 255);
  border-left: 0.5mm solid rgb(255, 255, 255);
  border-right: 0.5mm solid rgb(255, 255, 255);
  border-bottom: 0.5mm solid rgba(110, 110, 110, 0.6);
  background-color: white;
  cursor: pointer;
}

.modal {
  position:fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 1px; /* Location of the box */
  left: 1;
  top: 0;
  width: auto; /* Full width */
  height: 30%; /* Full height */
  padding: 20px;
  vertical-align: middle;
  /* text-align:justify; */
  background-color: blueviolet;
  /* text-align:end;
  padding: 0!important; */
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.uploadInput {
  display: inline-block;
  margin: 5px;
  /* padding: 5px; */
  border: 1px solid rgb(132, 132, 132);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: medium;
}

.area {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.input {
  font-family: '微軟正黑體';
  display: inline-flex;
}

.checkbox {
  display: block;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  font-family: '微軟正黑體';
  font-size: 20px;
}

.dragger {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: '微軟正黑體';
  border:rgb(132, 132, 132);
}

.dborder {
  border: blue;
}

.ant-drawer-body {
  background-color: #4b4741;
}

.add {
  text-align: center;
  padding: 0px;
  margin: 10px 20px;
  float: right;
  background-color: #af7c20;
  border-color: #ddceb4;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  color: #f2f0ec;
  font-size: 15px;
  line-height: 15px;
}

.add:hover {
  background-color: #ddceb4;
  color: #474b41;
  border-color: #474b41;
}

.table td {
  border-color: #000;
  color: #6b522f;
  border-bottom: #000;
  border: #000;
  border-width: 10px;
}